In [13]:
import pandas as pa
import seaborn as sb
import matplotlib.pyplot as plt

data = pa.read_csv("../DataVis/resto.csv")

data.head(10)

,Unnamed: 0,order_id,quantity,item_name,choice_description,item_price
0,0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,1,Izze,[Clementine],$3.39
2,2,1,1,Nantucket Nectar,[Apple],$3.39
3,3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,6,3,1,Side of Chips,NaN,$1.69
7,7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [2]:
data.columns

Index(['Unnamed: 0', 'order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [3]:
data.groupby("item_name").sum().sort_values(["quantity"], ascending=False)[:10]

                              Unnamed: 0  order_id  quantity
item_name
Chicken Bowl                     1779909    713926       761
Chicken Burrito                  1238217    497303       591
Chips and Guacamole              1121773    449959       506
Steak Burrito                     817795    328437       386
Canned Soft Drink                 759990    304753       351
Chips                             518704    208004       230
Steak Bowl                        482721    193752       221
Bottled Water                     439354    175944       211
Chips and Fresh Tomato Salsa      250144    100419       130
Canned Soda                       189915     76396       126

In [12]:
data[data.quantity == data.quantity.max()]

,Unnamed: 0,order_id,quantity,item_name,choice_description,item_price
3598,3598,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25

In [4]:
data.quantity.sum()

4972

In [15]:
import numpy as np

priceconvert = data.item_price.str[1:]
data['item_price'] = data.item_price.str.replace('$', '').astype('float64')
price = priceconvert.astype('float64')
quantity = data.quantity.astype('float64')
print("Chiffre d'affaire : {}€".format((price*quantity).sum().round(1)))

Chiffre d'affaire : 39237.0€

In [16]:
data["revenue_moyen"] = data['quantity'] * data["item_price"]
data.groupby("order_id")['revenue_moyen'].sum().mean()

21.39423118865867